* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: url("img/background1.jpg") no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover;
}
h3 {
  border: 2px solid black;
  background: transparent;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10%;
}
.card {
  background-color: #bd426e;
}
.btn-primary {
    color: #fff;
    background-color: #42bd91;
    border-color: #42bd91;
}

 .btn-primary:hover,.btn-primary:focus{
  background: transparent;
  color: #fff;
  border:1px solid #42bd91;

}
